* {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

.navbar {
    background-color: gray;
    border-radius: 0px;
    border: 2px solid black;
}
.navbar-brand {
    text-align: left;
    color: blue;
    font-weight: bold;
}